<% provide(:title, "Home") %>
<div class="jumbotron jumbotron-fluid center">


<h1>What can I get you ?</h1>
<p>You don't know what to choose in a restaurant ? Let the whole world help you !</p>


<%= link_to "Advice me !", '#', class: "btn btn-lg btn-primary" %>
</div>
