<% provide(:title, "Home") %>
<div class="jumbotron jumbotron-fluid center">


<h1>Wubba Lubba Dub Dub my friend !</h1>
<p>No just kidding, that's only a catchphrase, I don't need any help</p>


<%= link_to "This button does nothing !", '#', class: "btn btn-lg btn-primary" %>
</div>
