<% provide(:title, @streamer.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @streamer.name %>
      </h1>
      <p>Youtube : <%= @streamer.youtube %></p>
      <p>Twitch : <%= @streamer.twitch %></p>
    </section>
  </aside>
</div>
