<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">
    © 2017 - B.ROLANDO
    </p>

    <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
    <span class="glyphicon glyphicon-star"></span> I need help ! </a>
  </div>
 </div>
